

.employee-list {
  width: 80%;
  margin: 20px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
}

.header-buttons button {
  margin-left: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.import-button {
  background-color: white;
  color: black;
}

.new-employee-button {
  background-color: blue;
  color: white;
}

/* Estilos para la sección de búsqueda y orden */
.search-sort-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
/*TODO: REDUCIR EL CAMPO Y VER EL MARGIN */
.search-input {
  width: 25%; 
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.9rem;
  margin-left: auto; 
}

.sort-filter-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sort-filter-section label {
  margin-right: 10px;
}
/*TODO: */
.filter-button {
  background: none;
  color: #007bff; /* Color azul para el texto */
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 4px; /* Espacio entre el texto y el icono */
  transition: color 0.3s ease;
}

.filter-button:hover {
  color: #0056b3; /* Color azul oscuro al pasar el cursor */
}
.icon-plus {
  font-weight: bold;
  font-size: 1.2rem; /* Ajusta el tamaño del icono según prefieras */
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
}

.employee-table th,
.employee-table td {
  padding: 10px;
  border: none; /*VER PORQUE EL DESORDEN */
  text-align: left;
}

.employee-table th {
  background-color: #f4f4f4; /* Color de fondo para el encabezado */
}
.employee-table tr:nth-child(even) {
  background-color: #f9f9f9; /* Alterna el color de fondo en las filas pares */
}

.active-status {
  background-color: green;
  color: white;
}

.inactive-status {
  background-color: red;
  color: white;
}

.active-status,
.inactive-status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  width: 80px; 
}
.initials-icon {
  width: 35px;
  height: 35px;
  background-color: #007bff; 
  color: #ffffff; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.edit-icon {
  color: #007bff; 
  cursor: pointer;
  transition: color 0.3s ease;
}

.edit-icon:hover {
  color: #0056b3; 
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination .active-page {
  background-color: #0056b3;
  font-weight: bold;
}

