/* src/Sidebar.css */
.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100vh;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
}

.menu {
  list-style: none;
  padding: 0;
  flex-grow: 1; /* Esto permite que el menú ocupe el espacio restante */
}

.menu li {
  padding: 15px 0;
  cursor: pointer;
  color: #ddd;
}

.menu li:hover {
  color: white;
}

.footer {
  text-align: center;
  border-top: 1px solid #444;
  padding-top: 20px;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.logout-button:hover {
  color: #ccc;
}
