/* Estilos para el contenedor principal */
.welcome-container {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  /* Estilos para la barra lateral */
  .sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .sidebar h3 {
    margin-top: 0;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px 0;
    cursor: pointer;
  }
  
  .sidebar li:hover {
    background-color: #555;
  }
  
  /* Estilos para el contenido principal */
  .main-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
  }

  .logo {
    width: 150px; 
    margin-bottom: 20px;
  }
  